<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial=scale=1.0">
	<link rel="stylesheet" href="static/homepage.css" />
	<title>Void</title>
</head>
<img src="static/images/Void PFP.png" alt="profile picture" class="profile-picture">
<div class="profile-name">Void#4000</div>
<a href="https://top.gg/user/601075871876382752" class="links">Discord</a>
<a href="https://github.com/void-ux" class="links">GitHub</a>
<a href="https://www.youtube.com/channel/UCnaRRQcGiQLqhaOIaiQNesg/videos" class="links">YouTube</a>
<a href="https://steamcommunity.com/profiles/76561198033463872" class="links">Steam</a>

<a href="https://www.github.com/Void-ux" class="github">
	<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Void-ux&layout=compact&theme=vue"
	alt="Top Languages Failed to Load"
	width="400"
	height="200">
</a>

</html>