<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial=scale=1.0">
	<link rel="stylesheet" href="static/homepage.css" />
	<title>Void</title>
	<link rel="icon" href="/static/images/favicon.ico">
</head>

<img src="static/images/Void PFP.png" alt="profile picture" class="profile-picture">
<div class="profile-name">Void#2000</div>
<a href="https://github.com/void-ux" class="links">GitHub</a>
<a href="https://open.spotify.com/user/21fzdnmmzjlcasgerytwpokyy" class="links">Spotify</a>
<a href="https://steamcommunity.com/profiles/76561198033463872" class="links">Steam</a>

<a href="https://www.github.com/Void-ux" class="github-lang">
	<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Void-ux&layout=compact&theme=vue-dark"
	alt="Top Languages Failed to Load"
	width="400"
	height="200">
</a>

<a href="https://www.github.com/Void-ux" class="github-stat">
	<img src="https://github-readme-stats.vercel.app/api?username=Void-ux&show_icons=true&theme=vue-dark"
	alt="Statistics Card Failed to Load"
	width="400"
	height="200">
</a>

</html>