<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial=scale=1.0">
	<link rel="stylesheet" href="static/homepage.css" />
	<title>Void</title>
	<link rel="icon" href="/static/images/favicon.ico">
</head>

<img src="static/images/Void PFP.png" alt="profile picture" class="profile-picture">
<div class="profile-name">Void#2000</div>
<a href="https://github.com/void-ux" class="links">GitHub</a>
<a href="https://open.spotify.com/user/21fzdnmmzjlcasgerytwpokyy" class="links">Spotify</a>
<a href="https://steamcommunity.com/profiles/76561198033463872" class="links">Steam</a>